{
  "bracketSpacing": true,
  "insertPragma": false,
  "printWidth": 90,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
